@inject HttpClient client
@inject ILocalStorageService storageService
<h3>ArtistsAlbums</h3>

<AddAlbumComponent />

<div class="mat-layout-grid">

    <div class="mat-layout-grid-inner">
        @if (albums != null && albums.Count != 0)
        {
            @foreach (var album in albums)
            {
                <div class="mat-layout-grid-cell">
                    <BSCard CardType="CardType.Card">

                        <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="@album.Cover" alt="Card image cap" />

                        <BSCard CardType="CardType.Body">

                            <BSCard CardType="CardType.Title">@album.AlbumName</BSCard>

                            <BSCard CardType="CardType.Subtitle">@album.Genre</BSCard>

                            <BSCard CardType="CardType.Text">@album.Description</BSCard>

                            <BSButton>Delete</BSButton>

                        </BSCard>

                    </BSCard>
                </div>
            }
        }


    </div>
    @if (albums == null || albums.Count == 0)
    {
        <h1 style="color : yellow">You have  no albums please add albums</h1>
    }
</div>




@code { 


    Artist artist;
    long artistId;
    List<Album> albums = new List<Album>();

    protected override async Task OnInitializedAsync()
    {
        artist = await storageService.GetItemAsync<Artist>("loggedUser");
        if(artist != null)
        {

            artistId = artist.Id;
            albums = await client.GetFromJsonAsync<List<Album>>($"api/Albums/{artistId}");
        }

    }


}

<style>
    h3 {
        color: yellow;
    }

    body {
        background-color: yellow;
    }



    img {
        width: 250px;
        height: 250px;
    }
</style>