<h3>ArtistsAlbums</h3>


<div class="mat-layout-grid">
  
    <div class="mat-layout-grid-inner">
        @foreach (var album in albums)
        {
            <div class="mat-layout-grid-cell">
                <BSCard CardType="CardType.Card">

                    <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="Card image cap" />

                    <BSCard CardType="CardType.Body">

                        <BSCard CardType="CardType.Title">Marlowe 2</BSCard>

                        <BSCard CardType="CardType.Subtitle">Mello Music</BSCard>

                        <BSCard CardType="CardType.Text">This is the album description</BSCard>

                        <BSButton>Delete</BSButton>

                    </BSCard>

                </BSCard>
            </div>
        }
    </div>
  
    </div>




@code {

    List<Album> albums = new List<Album>()
{
            new Album("Marlowe 2",DateTime.Now,Genre.Rap,"https://f4.bcbits.com/img/a0836156831_10.jpg",20.5,@"Marlowe is a collaborative alt-rap project from North Carolina-based hip-hop producer
                L'Orange and rapper Solemn Brigham. Their unique blend of quick-fire vocals and dusty breakbeats is most well-known on tracks such as Lost Arts and Tales From The East.
                The project came together in 2018 with the intent of marrying Brighams lyrics concerning social commentary, police brutality, and poverty with LOranges thudding beats and crackling vinyl
                samples to achieve a new, refreshing take on hip-hop in modern times. Marlowe 2 seeks to continue that legacy.."),
             new Album("Bronze Saints",DateTime.Now,Genre.Rap,"https://f4.bcbits.com/img/a0992279187_10.jpg",20.5,@"Napoleon Da Legend bridges the world of Hip-Hop with Japanese anime by creating an album 
                inspired by the aesthetics and music of classic anime Saint Seiya created by Masami Kurumada. This album is self-produced by Napoleon Da Legend with two tracks co-produced by Sicknature
                and features BBass and Nejma Nefertiti."),
             new Album("The Boiler Room",DateTime.Now,Genre.Rap,"https://f4.bcbits.com/img/a1715120345_10.jpg",20.5,@"Rhymes by Jarv Beats by Thief Mixed by Jarv Mastered by Jer Coons Art by John Garoutte "),
             new Album("Steet Universe",DateTime.Now,Genre.Rap,"https://f4.bcbits.com/img/a2711839684_10.jpg",20.5,@"Produced by Giallo Point Written by Napoleon Da Legend,Artwork by Trevor Lang  ")

    };
}

<style>
    h3 {
        color: yellow;
    }

    body {
        background-color: yellow;
    }



    img {
        width: 250px;
        height: 250px;
    }
</style>