<h3>ArtistsAlbums</h3>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">

        <div class="mat-layout-grid-cell">
            <BSCard CardType="CardType.Card">

                <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="Card image cap" />

                <BSCard CardType="CardType.Body">

                    <BSCard CardType="CardType.Title">Marlowe 2</BSCard>

                    <BSCard CardType="CardType.Subtitle">Mello Music</BSCard>

                    <BSCard CardType="CardType.Text">Marlowe is a collaborative alt-rap project from North Carolina-based hip-hop producer L'Orange and rapper Solemn Brigham. Their unique blend of quick-fire vocals and dusty breakbeats is most well-known on tracks such as "Lost Arts" and "Tales From The East." The project came together in 2018 with the intent of marrying Brigham's lyrics concerning social commentary, police brutality, and poverty with L'Orange's thudding beats and crackling vinyl samples to achieve a new, refreshing take on hip-hop in modern times. Marlowe 2 seeks to continue that legacy..</BSCard>

                    <BSButton>Button</BSButton>

                </BSCard>

            </BSCard>
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image2" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image3" />
        </div>

        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image2" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image3" />
        </div>

        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image2" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image3" />
        </div>

        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image2" />
        </div>
        <div class="mat-layout-grid-cell">
            <img src="https://f4.bcbits.com/img/a0836156831_10.jpg" alt="image3" />
        </div>

    </div>
</div>


@code {

}

<style>
    h3 {
        color : yellow;
    }

    body {
        background-color: yellow;
    }



    img {
        width : 250px;
        height : 250px;
    }
</style>