@using System.Net.Http
@inject HttpClient httpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject ILocalStorageService storageService;

    <link href="css/FormStyling.css" rel="stylesheet" />
    <div class="register-box">
        <EditForm Model="@fan" OnValidSubmit="@Authenticate">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="user-box">
                <label>Firstname  : </label>
                <InputText @bind-Value="fan.FirstName" />
            </div>

            <div class="user-box">
                <label>Lastname  : </label>
                <InputText @bind-Value="fan.LastName" />
            </div>

            <div class="user-box">
                <label>Age  : </label>
                <InputNumber @bind-Value="fan.Age" />
            </div>

            <div class="user-box">
                <label>Email  : </label>
                <InputText @bind-Value="fan.Email" />
            </div>

            <div class="user-box">
                <label>Username  : </label>
                <InputText @bind-Value="fan.Username" />
            </div>

            <div class="user-box">
                <label>Password  : </label>
                <InputText type="password" @bind-Value="fan.Password" />
            </div>


            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Register </button>
            </div>




        </EditForm>
    </div>



    @code {
        Fan fan = new Fan();
        Credential credential = new Credential();
        List<Artist> artists = new List<Artist>();
        Artist oneArtist = new Artist();
        bool loginError = false;
        public async Task Authenticate()
        {
            //Artist artist = new Artist("tech nina",DateTime.Now, "desc");
            //await Http.PostAsJsonAsync<Artist>("api/Artists", artist);
            //Console.WriteLine(Newtonsoft.Json.JsonConvert.SerializeObject(artist));
            //NavigationManager.NavigateTo("login");
        }


    }


