@using System.Net.Http
@inject HttpClient httpClient
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject ILocalStorageService storageService
<h3>RegistrationForm</h3>


<EditForm Model="@credential" OnValidSubmit="@Authenticate">
    <div class="form-group">
        <label>Username  : </label>
        <InputText @bind-Value="credential.username" />
    </div>

    <div class="form-group">
        <label>Password  : </label>
        <InputText @bind-Value="credential.password" />
    </div>


    <button class="btn btn-primary">Register </button>



</EditForm>
@if (loginError)
{
    <div>Wrong username or password</div>
}
@code {
    Credential credential = new Credential();
    List<Artist> artists = new List<Artist>();
    bool loginError = false;
    public async Task Authenticate()
    {

        artists = await httpClient.GetFromJsonAsync<List<Artist>>("api/Artists");
        Artist artist = artists.Where(artist => artist.Username == credential.username && artist.Password == credential.password).First();
        if (artists.Where(artist => artist.Username == credential.username && artist.Password == credential.password).Count() != 0 )
        {
            await storageService.SetItemAsync<Artist>("Artist", artists.Where(artist => artist.Username == credential.username && artist.Password == credential.password).First());
            NavigationManager.NavigateTo("counter");
        }
        else
        {
            loginError = true;
        }

    }


}
