@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager;
<h3>RegistrationForm</h3>
    

<EditForm Model="@user" OnValidSubmit="@Validate">
    @if (TypeOf(@user) == "Artist")
    {
        <div class="form-group">
            <label>Artist Name : </label>
            <InputText class="form-control" @bind-Value="((Artist)user).Name" />
        </div>
    }
    else
    {
        <div class="form-group">
            <label>First Name : </label>
            <InputText class="form-control" @bind-Value="((Fan)user).FirstName" />
        </div>

        <div class="form-group">
            <label>Last Name : </label>
            <InputText class="form-control" @bind-Value="((Fan)user).LastName" />
        </div>
    }

    @if (TypeOf(@user) == "Artist")
    {
        <div class="form-group">
            <label>Biography : </label>
            <InputText class="form-control" @bind-Value="((Artist)user).Description" />
        </div>

        <div class="form-group">
            <label>Career Begin Date : </label>
            <InputDate @bind-Value="((Artist)user).CareerBeginDate" />
        </div>
    }




    <div class="form-group">
        <select value="@userType" @onchange="OnValueChanged">
            <option value="Artist">Artist</option>
            <option value="Fan">Fan</option>
        </select>
    </div>



    <button class="btn btn-primary">Register </button>



</EditForm>
<h1>@{Console.WriteLine("the type is " +user.GetType().Name); }</h1>
@code {

    public Artist artist = new Artist();
    public Fan fan = new Fan();
    User user = new Artist();
    public string userType = "Artist";
    InputSelect<string> inputSelect;


    private Task OnValueChanged()
    {
        Console.WriteLine("ca rentre");
        if (TypeOf(user) == "Artist")
        {
            user = new Fan();
            userType = "Fan";
        }
        else if (TypeOf(user) == "Fan")
        {
            user = new Artist();
            userType = "Artist";
        }

        return Task.CompletedTask;
    }


    private Task OnValueChanged(string s)
    {
        Console.WriteLine("ca rentre");
        if (TypeOf(user) == "Artist")
        {
            user = new Fan();
        }else if(TypeOf(user) == "Fan")
        {
            user = new Artist();
        }

        return Task.CompletedTask;
    }


    public string TypeOf(User user)
    {
        return user.GetType().Name;
    }

    public void Validate()
    {
        Console.WriteLine(user);
        //NavigationManager.NavigateTo("counter");
    }
}
