
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using System.Text
@using Microsoft.AspNetCore.Components
@using MusicSellingApp.Shared
@using System.Text.Json
@using System.Net.Http
@inject HttpClient Http



<h3>RegistrationForm</h3>


<EditForm Model="@artist" OnValidSubmit="@Validate">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Age: </label>
        <InputNumber class="form-control" @bind-Value="artist.Age" />
    </div>

    <div class="form-group">
        <label>Artist Name : </label>
        <InputText class="form-control" @bind-Value="artist.Name" />
    </div>

    <div class="form-group">
        <label>Biography : </label>
        <InputTextArea class="form-control" @bind-Value="artist.Description" />
    </div>

    <div class="form-group">
        <label>Career Begin Date : </label>
        <InputDate class="form-control" @bind-Value="artist.CareerBeginDate" />
    </div>

    <div class="form-group">
        <label>Username : </label>
        <InputText @bind-Value="artist.Username" />
    </div>

    <div class="form-group">
        <label>Password : </label>
        <InputText type="password" class="form-control" @bind-Value="artist.Password" />
    </div>

    <div class="form-group">
        <label>Email: </label>
        <InputText @bind-Value="artist.Email" />
    </div>


    <button type="submit" class="btn btn-primary">Register </button>



</EditForm>
 }

        @code {


            Artist artist = new Artist();

            public async Task Validate()
            {

                //Artist artist = new Artist("tech nina",DateTime.Now, "desc");
                await Http.PostAsJsonAsync<Artist>("api/Artists", artist);
                Console.WriteLine(Newtonsoft.Json.JsonConvert.SerializeObject(artist));
                //NavigationManager.NavigateTo("login");
            }
}
