@page "/counter"

@using System.Net.Http
@inject HttpClient Http



    <h1>@todoItems.Length</h1>
    <button @onclick="click">Click</button>
    @code {
        public TodoItem[] todoItems = new TodoItem[5];

        protected override async Task OnInitializedAsync() =>
            todoItems = await Http.GetFromJsonAsync<TodoItem[]>("api/TodoItems");

        public async Task click()
        {
            await Http.PostAsJsonAsync<TodoItem>("api/TodoItems", new TodoItem() { Name = "Another todo item" });
         
        }
    }