@page "/creditCard"
@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IJSRuntime JSRuntime
@using Blazor.Fluxor
@inject IDispatcher Dispatcher


<h2 style="background-color :orangered">Please wait for the payment page to load</h2>

@code { 

}
