@inject ILocalStorageService storageService
@inject NavigationManager navigationManager
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MusicSellingApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-plus" aria-hidden="true"></span> Register
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-plus" aria-hidden="true"></span> Login
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" @onclick="@(() => {
                                                              storageService.RemoveItemAsync("loggedUser");
                                                              navigationManager.NavigateTo("login",true);
                                                          })">
                <span class="oi oi-plus" aria-hidden="true"></span> Logout
            </NavLink>
        </li>

        @if (user != null && user.Descriminator == "Artist")
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="artistProfile">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> User profile
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ArtistAlbums">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Artist albums
                </NavLink>
            </li>
        }
        else if (user != null && user.Descriminator == "Fan")
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fanProfile">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> User profile
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="MusicCatalog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Website Music Catalog
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fanLibrary">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fan Library
                </NavLink>
            </li>


        }
        else if (user != null && user.Descriminator == "Admin")
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="adminPage">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> List users
                </NavLink>
            </li>
        }

    </ul>
</div>

@code {


    protected override async Task OnParametersSetAsync()
    {
        user = await storageService.GetItemAsync<User>("loggedUser");

    }


    protected override async Task OnInitializedAsync()
    {
        user = await storageService.GetItemAsync<User>("loggedUser");
    }

    public User user { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
